
/* ----- CART PAGE ------ */


/* remove borders */
.woocommerce table.shop_table tbody th, .woocommerce table.shop_table tfoot td, .woocommerce table.shop_table tfoot th{
  border-style:none;
}

.woocommerce table.shop_table {
  border-style:none;
}



.woocommerce {
  display: flex;
  margin-bottom: 5rem;
  align-items: flex-start;

  .woocommerce-cart-form{
    margin-left:5rem;

    .woocommerce-cart-form__contents{
      tbody{


      }

      thead {

      }

    }


    table.shop_table{
      background-color: #FFF9E5;
      border-style:none !important;

      td{
        border-style:none;
        background-color: white;

      }


      .woocommerce-cart-form__cart-item{


        .product-thumbnail{
          img{
            width:106px;
            height:106px;
            background-color:#FBEBB5;
            border-radius:10px;
            padding: 3px;
          }
        }

        .product-name{
          a{
            text-decoration:none;
            color: $secondary-font-color;
            font-size:16px;
          }
        }

        .product-price{
          span{
            color: $secondary-font-color;
            font-size:16px;
          }
        }

        .product-subtotal{
          span{
            font-size:16px;
          }
        }

        .product-remove{
          a{
            color:#FBEBB5 !important;
          }

          a:hover{
            background-color:transparent;
            transform: scale(1.5);
          }
        }

      }

    }
    // Remove update cart-button
    button[name="update_cart"] {
      display: none !important;
    }
  }
}

/* The table containing the list of products */
.woocommerce .woocommerce-cart-form {
  //flex: 1 0 55%; /* 100% at small screens; 70% on larger screens */
  width:817px;
  height:216px;
  border: 0 !important;

}
/* The element that contains the cart totals */
.woocommerce .cart-collaterals {
  /*flex: 1 0 35%; !* 100% at small screens; 30% on larger screens *!
  margin-left: 10px;*/
  width:393px;
  height:390px;
}


/* WHOLE CART TOTALS-AREA */
.woocommerce .cart-collaterals .cart_totals {

  width: 100%;
  display:flex;
  align-items:center;
  justify-content: center;
  flex-direction:column;



}

.cart_totals{
  h2{
    justify-content:center;
    align-items:center;
  }
}

.woocommerce table.shop_table tbody:first-child tr:first-child th{
  padding:2rem;
}

.woocommerce table.shop_table th{
  padding:2rem;
}



form.woocommerce-cart-form {
  margin-right: 3rem;
  background-color: transparent !important;
}

.cart-collaterals {
  background: #FFF9E5;
  margin-top: 0;
}


/*** QUANTITY BOX ***/
.woocommerce #content .quantity input.qty,
.woocommerce .quantity input.qty,
.woocommerce-cart table.cart td.actions .coupon .input-text,
.woocommerce-page #content .quantity input.qty,
.woocommerce-page .quantity input.qty {
  width:2rem;
  height:2rem;
  border: 2px solid #bbb9b9;
  border-radius: 7px;
  #spin{
    margin-left:1rem;
  }
}


/* -- Check Out button --- */
 .woocommerce #content input.button, .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce-page #content input.button, .woocommerce-page #respond input#submit, .woocommerce-page a.button, .woocommerce-page button.button, .woocommerce-page input.button {
   font-weight:400;
 }

 .wc-proceed-to-checkout
 {
   width: 222px;
   height:59px;
   background: transparent !important;
   display:flex;
   align-items:center;
   justify-content: center;
   border: 1px solid black;
   color:black !important;
   border-radius: 13px;

   a{
     font-size:20px;
     font-weight:400;
     line-height:30px;
     background: transparent !important;
     color:black !important;

   }
 }