
/* ---- PINK BANNER --- */

.banner-pink{
  display:flex;
  background-color: $secondary-color;
  justify-content:space-evenly;
  align-items: center;
  padding: 5rem;
  flex-wrap: wrap;

  .col-pink{
    width: 376px;
    height: 108px;
    flex-wrap: wrap;
    max-width: 100%;
    /*align-items: flex-start;*/
    gap: 10px;
    justify-content: flex-start;
    /*flex: 1;*/



    h3{
      font-size: 32px;
      font-weight: 500;
      line-height: 48px;
      letter-spacing: 0em;
      text-align: left;
      padding:0;
      margin:0;

    }

    p{
      color: $secondary-font-color;
      font-size: 20px;
      font-weight: 400;
      line-height: 30px;
      letter-spacing: 0em;
      text-align: left;
      padding:0;
      margin:0;
    }

  }
}




/* ----- Main Footer ----- */
footer {
  height: 555px;
  display: flex;
  justify-content:center;
  align-items: center;


  h4 {
    font-family: $font;
    color: $secondary-font-color;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
  }



  .footer-section {
    margin: 0 auto;
    max-width:1240px;
    flex-wrap: wrap;
    border-bottom: 1px solid $primary-color;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 1240.01px;
    height: 419px;
    display: flex; // order columns horizontally
    justify-content: space-between; // add space between columns

    .column-big, .column-small {
      display: flex; // order content in columns vertically
    }

    .column-big {
      width: 33.33%;
    }

    .column-small {
      width: 16.66%;
    }

    .address_field{
      display: flex;
      align-items: center;


      p{
      font-family: $font;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: left;
      color: $secondary-font-color;
      }
    }

    .links-menu, .help-menu, .newsletter-form-container{
      display:flex;
      align-items: flex-start;
      flex-direction: column; // same

      /*width: 66px;
      height: 233px;*/
      top: 1418px;
      left: 525.01px;

      ul {
        text-align: left;
        list-style-type: none;
        margin: 0;
        padding: 0;
        width:140px;

        li {
          margin-top: 3rem;
        }

        li a {
          list-style: none;
          font-family: $font;
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
          text-decoration:none;
          color: $primary-font-color;

        }
      }


    }


    .newsletter-form-container{



      form {
        margin-top: 3rem;

        label {
          color: $secondary-font-color; // fungerar inte
        }

        .newsletter_email, .newsletter_submit{
          font-family: $font;
          border-bottom: solid 2px #242424;
          background-color: transparent;
          border-top: none;
          border-left: none;
          border-right: none;
        }

        .newsletter_submit{
          margin-left: 5px;
        }

        .newsletter_submit:hover {
        cursor:pointer;
        }

      }

    }

  }

  .copyright-field{
    display: flex;
    align-items: flex-end;
    position: absolute;
    padding: 2rem 0 2rem 0;
    div p{
      font-family: $font;
      color: $primary-font-color;
      font-size: 16px;
      line-height: 24px;


    }
  }

}
/* --- footer end ---*/

.hero-banner{
  /*background-image: url("/ecom_rocket/wp-content/themes/meubeltheme/resources/images/hero2.jpg");*/
  img {
    width: 1440px;
    height: 700px;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow:  20px 20px 60px #bebebe,
    -20px -20px 60px #ffffff;
  }
  /*background-color:blue;*/

}