header{
  display:flex;
  flex-direction: row;
  padding: 2rem;


  .primary_menu{
    display:flex;
    flex-direction: row;
    justify-content: right;
    width: 65%;


    .menu{
      display:flex;
      flex-direction: row;
      width: 400px;
      justify-content: space-around;
      list-style: none;


      a{
        text-decoration: none;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: #000000;
      }
    }
  }

  .secondary_menu{
    display:flex;
    flex-direction: row;
    justify-content: right;
    width: 35%;


    .menu{
      display:flex;
      flex-direction: row;
      width: 400px;
      justify-content: space-around;
      list-style: none;



        a{
          background-position: center center;
          background-size: contain;
          position:absolute;
          margin:auto;
          background-repeat: no-repeat;
          text-decoration: none;
          width: 20px;
          height: 25px;
          color: transparent;
        }
      }
    }
  }




/* Font-awesome icons */

.fa-my-account:before {
  content: "\f007";
  font: var(--fa-font-solid);
}

.fa-search:before {
  content: "\f002";
  font: var(--fa-font-solid);
}

.fa-heart:before {
  content: "\f004";
  font: var(--fa-font-regular);
}


.fa-cart:before {
  content: "\f07a";
  font: var(--fa-font-regular);
}



a[data-icon]:before {
  /*font-family: "Font Awesome 6 Free";*/
  font: var(--fa-font-solid);
  content: attr(data-icon);
  padding-right: 5px;
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}



